$blue:  #3674FF;
$black: #202020;
$green: #00c980;
$gray:  #6d6d6d;
$red:   #db4141;

$background: #ffffff;
$second-background: #f4fbfd;
$light-border: #e6e6e6;

$message-typing-blue:   #e5edff;
$message-typing-circle: #a6bdf0;

$header-height: 5rem;
$header-margin: 2rem;
$padding:       2rem;